<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container">
        <section id="content">
            <form action="">
                <h1>Iniciar Sesión</h1>
                <div>
                    <input type="text" placeholder="Usuario" required="" id="username" />
                </div>
                <div>
                    <input type="password" placeholder="contraseña" required="" id="password" />
                </div>
                <div>
                    <input type="submit" value="Iniciar Sesion" />
                    <a href="#">Olvide mi contraseña?</a>
                    <a href="#">Registro</a>
                </div>
            </form><!-- form -->
            <div class="button">
                <!--<a href="#">Download source file</a>-->
            </div><!-- button -->
        </section><!-- content -->
    </div><!-- container -->
</body>